.smartSection {
  position: relative;
  width: 100%;
  background: transparent;
  background-size: 120px 120px;
  background-repeat: repeat;
  background-position: top center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 40px 5% 60px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

.smartSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  color: #002c22;
}

.heading {
  font-size: 2.8rem;
  font-weight: 600;
  color: #002c22;
  margin-bottom: 10px;
  text-align: left;
}

.headingUnderline {
  width: 380px; /* default width */
  height: 4px;
  margin: 15px 0px 10px 0px;
  background: linear-gradient(135deg, #006633 0%, #00c84fe8 100%);
  border-radius: 4px;
}

.subText {
  color: rgba(0, 0, 0, 0.74);
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 1200px;
  margin: 10px 0px 40px 0px;
  text-align: left;
}

.sliderWrapper {
  margin-top: 30px;
  width: 100%;
}

.industryCard {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 12px 15px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0px 10px 20px 10px;
}

.industryCard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 44, 34, 0.2);
}

.industryTitle {
  color: #002c22;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderWrapper :global(.swiper-pagination) {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.customBullet {
  background: rgba(0, 0, 0, 1) !important;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}

.customBulletActive {
  background: #000000;
  transform: scale(1.3);
}

@media (max-width: 1024px) {
  .heading {
    font-size: 2.4rem;
    text-align: center;
  }

  .headingUnderline {
    width: 250px; 
    margin-inline: auto;
  }

  .subText {
    font-size: 1rem;
    text-align: center;
  }

  .sliderWrapper {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
    text-align: center;
  }

  .headingUnderline {
    width: 180px; 
    margin-inline: auto;
  }

  .subText {
    font-size: 0.95rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .industryCard {
    margin: 0 5px 20px 5px;
    padding: 10px 12px;
  }

  .industryTitle {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.7rem;
  }

  .headingUnderline {
    width: 140px;
  }

  .subText {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .industryCard {
    padding: 8px 10px;
  }

  .industryTitle {
    font-size: 0.9rem;
  }
}
