.bannerSection {
    background-color: #002c22;
    padding: 50px 5%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1250px;
    width: 100%;
    gap: 60px;
  }
  
  .leftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .heading {
    font-size: 2.4rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  
  
  
  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
    }
  
  
  
    .heading {
      font-size: 2.2rem;
    }
  
   
  }
  